In [1]:
import pandas as pd
import json
import numpy as np

In [3]:
df = pd.read_csv('data/eiti-summary-company-payments.csv')

In [6]:
df = df[df['country'] == "Myanmar"]

In [8]:
df.head()

,created,changed,country,iso3,year,start_date,end_date,company_name,gfs_code,gfs_description,name_of_revenue_stream,currency_code,currency_rate,value_reported,value_reported_as_USD,reporting_url
31969,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1112-E1,"Ordinary taxes on income, profits and capital ...",Revenue Stream: 1112E1 [Ordinary taxes on inco...,MMK,960.5121,4.017128e+10,41822777.0,https://eiti.org/api/v1.0/organisation/31689
31970,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E1,Royalties,Revenue Stream: 1415E1 [Royalties] - Royalties,MMK,960.5121,1.407288e+11,146514378.0,https://eiti.org/api/v1.0/organisation/31689
31971,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,6.139777e+11,639219143.0,https://eiti.org/api/v1.0/organisation/31689
31972,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,1.208082e+11,125774746.0,https://eiti.org/api/v1.0/organisation/31689
31973,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,4.923598e+09,5126014.0,https://eiti.org/api/v1.0/organisation/31689

## Clean data

In [10]:
df["company_name"].unique()

array(['Petronas Carigali Myanmar Inc', 'TOTAL',
       'Daewoo International Corporation', 'PTT Exploration & Production',
       'Goldpetrol Co Ltd', 'MPRL E&P Pte Ltd', 'Nippon Oil', 'UNOCAL',
       'Chinnery Assets Ltd', 'SNOG Pte Ltd', 'Eternal Mining Company Ltd',
       'Kayah State Mining Production Co. (KMPC)',
       'Myanmar Pongpipat Company Limited', 'Nobel Gold',
       'Tha Byu Mining Co., Ltd.', 'Win Myint Mo Industries Co.,Ltd.',
       'DELCO (Developers Enterepreneurs Liaison Construction Organizers Limited',
       'GPS Joint Venture Co., Ltd.', 'Ngwe Yi Pale Mining Co., Ltd',
       'Max Myanmar Manufacturing Co.,',
       'Triple A Cement International Co., Ltd',
       'Myanmar Wanbao Mining Copper', 'Myanmar Yang Tse Copper Ltd',
       'CNMC Nickel Co Ltd. (MCNICO) (Tagaung Taung Nickel project)',
       'Great Genesis Gems Co., Ltd.', 'MYANMAR IMPERIAL JADE',
       'Richest Gems Co., Ltd', 'LINN LETT WIN YADANAR GEMS',
       'EVER WINNER GEMS', 'AUNG HEIN MIN GEMS', 'Wai Aung Ka Bar',
       'Ya Zar Htar Ni', 'SHWE YWET HLWAR GEMS', 'Kyauk Sein Na Gar',
       'YADANAR YAUNG CHI GEMS', 'Jade Mountain Gems', 'THI RAW MANI GEMS',
       'Kyaik International', 'MYAT YAMON GEMS', 'WINN LEI YADANA',
       'Myanmar Si Thu', '111', 'Sein Lone Taung Tan',
       'SHINING STAR LIGHT GEMS', 'Khin Zaw Aung and Brothers',
       'Xie Family', 'Aye Yar Kyauk Sein', 'WAI FAMILY GEMS',
       'AYEYAR YANDANAR GEMS', 'A Myo Thar Kyi Pwar Toe Tat Yay',
       'SHWE WAH MYAY (MANDALAY)', 'Ya Da Nar Taung Tan',
       'NAY LA PWINT GEMS', 'TREASURE WHITE LOTUS GEMS'], dtype=object)

In [13]:
companies_info_df = pd.read_csv('data/eiti_summary_companies_cleaned.csv')

In [14]:
companies_info_df.head()

,Legal name,Identification,Company_name_cl,Identification_cl,Commodities
0,Petronas Carigali Myanmar Inc,NC,PETRONAS CARIGALI MYANMAR INC.(BRANCH OFFICE),16FC/2011-2012,Oil & Gas
1,TOTAL,24FC of 1992-1993,TOTAL E & P MYANMAR (YANGON BRANCH),24FC/1992-1993,Oil & Gas
2,Daewoo International Corporation,1 FC / 2002-2003,Posco Daewoo Corporation (Myanmar E&P Office),1FC/2002-2003,Oil & Gas
3,PTT Exploration & Production,84 FC,PTTEP International Ltd. (Yangon Branch),84FC/1995-1996,Oil & Gas
4,Goldpetrol Co Ltd,173 FC,Goldpetrol Co Ltd,173 FC,Oil & Gas

In [16]:
df = pd.merge(df, companies_info_df, left_on='company_name', right_on='Legal name')

In [23]:
df[df['Commodities'] == 'Gems & Jade']['name_of_revenue_stream'].unique()

array(['Revenue Stream: 1415E1 [Royalties] - Royalties',
       'Revenue Stream: 1415E32 [Delivered/paid to state-owned enterprise(s)] - Sale Split',
       'Revenue Stream: 1415E32 [Delivered/paid to state-owned enterprise(s)] - Emporium Fees / Sale Fees',
       'Revenue Stream: 1422E [Administrative fees for government services] - Supervision Fees',
       'Revenue Stream: 1415E5 [Other rent payments] - Other significant payments (&gt; 50,000 USD)'], dtype=object)

In [24]:
df[df['Commodities'] == 'Gems & Jade']['gfs_description'].unique()

array(['Royalties', 'Delivered/paid to state-owned enterprise(s)',
       'Administrative fees for government services', 'Other rent payments'], dtype=object)

In [33]:
df['revenue_stream_short'] = df['name_of_revenue_stream'].str.split(' - ').str[1]

In [35]:
df_gemsjade = df[df['Commodities'] == 'Gems & jade']

## Remove negative payments for Sankey

In [36]:
df_gemsjade = df_gemsjade[df_gemsjade["value_reported"] >= 0]

## Prepare Source-Target-Value dataframe

In [37]:
links = pd.DataFrame(columns=['source','target','value'])

In [17]:
to_append = df.groupby(['Government Type'],as_index=False)['Value (USD)'].sum()
to_append["target"] = "Total"
to_append.rename(columns = {'Government Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

  source   target         value
0  Total  Federal  1.326789e+09
1  Total    State  9.719232e+08
2  Total   Tribal  6.899835e+07
3  Total  Unknown  5.094728e+06

In [18]:
to_append = df.groupby(['Government Type','Payment Type'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Government Type':'source','Payment Type':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

     source                                    target         value
0     Total                                   Federal  1.326789e+09
1     Total                                     State  9.719232e+08
2     Total                                    Tribal  6.899835e+07
3     Total                                   Unknown  5.094728e+06
2   Federal                                 Royalties  7.944091e+08
8     State                                     Taxes  5.990397e+08
3   Federal                                     Taxes  4.096844e+08
7     State                                 Royalties  2.823842e+08
1   Federal                                      Fees  9.466987e+07
5     State                                      Fees  8.414347e+07
11   Tribal                   Production entitlements  3.195508e+07
0   Federal                                   Bonuses  2.802562e+07
12   Tribal                                 Royalties  2.210378e+07
13   Tribal                                     Taxes  7.431555e+06
4     State                                   Bonuses  6.265747e+06
10   Tribal                                      Fees  5.229382e+06
15  Unknown                                     Taxes  4.632565e+06
9    Tribal                                   Bonuses  2.278557e+06
14  Unknown                                      Fees  4.621630e+05
6     State  Payments for infrastructure improvements  9.000000e+04

In [19]:
to_append = df.groupby(['Payment Type','Reporting Company'],as_index=False)['Value (USD)'].sum()
to_append.rename(columns = {'Payment Type':'source','Reporting Company':'target', 'Value (USD)' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

2372805274

,source,target,value
0,Total,Federal,1.326789e+09
1,Total,State,9.719232e+08
2,Total,Tribal,6.899835e+07
3,Total,Unknown,5.094728e+06
2,Federal,Royalties,7.944091e+08
8,State,Taxes,5.990397e+08
3,Federal,Taxes,4.096844e+08
7,State,Royalties,2.823842e+08
1,Federal,Fees,9.466987e+07
5,State,Fees,8.414347e+07
11,Tribal,Production entitlements,3.195508e+07
0,Federal,Bonuses,2.802562e+07
12,Tribal,Royalties,2.210378e+07
13,Tribal,Taxes,7.431555e+06
4,State,Bonuses,6.265747e+06
10,Tribal,Fees,5.229382e+06
15,Unknown,Taxes,4.632565e+06
9,Tribal,Bonuses,2.278557e+06
14,Unknown,Fees,4.621630e+05
6,State,Payments for infrastructure improvements,9.000000e+04
69,Royalties,BP P.L.C.,6.026200e+08
81,Royalties,ROYAL DUTCH SHELL PLC,3.747777e+08
99,Taxes,Encana Corporation,1.916800e+08
91,Taxes,Barrick Gold Corporation,1.913385e+08
87,Taxes,Agrium Inc.,1.715860e+08
90,Taxes,BP P.L.C.,1.177172e+08
124,Taxes,Teck Resources Limited,1.100046e+08
52,Fees,ROYAL DUTCH SHELL PLC,5.859035e+07
53,Fees,Rio Tinto PLC,5.273256e+07
76,Royalties,Enerplus Corporation,4.453751e+07
...,...,...,...
45,Fees,NewCastleGold Ltd,2.338910e+05
51,Fees,Quaterra Resources Inc.,2.160310e+05
33,Fees,Goldcorp Inc.,2.126600e+05
60,Fees,TriMetals Mining Inc.,2.000000e+05
48,Fees,PetroShale Inc.,1.886220e+05
9,Fees,Anglo American plc,1.811570e+05
32,Fees,GoldMining Inc.,1.810770e+05
89,Taxes,BNK Petroleum Inc.,1.765560e+05
109,Taxes,Hudbay Minerals Inc.,1.600000e+05
29,Fees,Franco-Nevada Corporation,1.508970e+05
59,Fees,TransAlta Corporation,1.295710e+05
40,Fees,LeadFX Inc.,1.282630e+05
110,Taxes,Imperial Metals Corporation,1.207180e+05
35,Fees,Graymont Limited,1.207180e+05
55,Fees,Scorpio Gold Corporation,1.143720e+05
36,Fees,Imperial Metals Corporation,1.131730e+05
65,Fees,West Kirkland Mining Inc.,1.058170e+05
20,Fees,Coral Gold Resources Ltd.,1.056280e+05
57,Fees,Taseko Mines Limited,9.808300e+04
123,Taxes,Taseko Mines Limited,9.808300e+04
28,Fees,Excelsior Mining Corp,9.808300e+04
3,Bonuses,Enerplus Corporation,9.053800e+04
66,Payments for infrastructure improvements,Midas Gold Corp,9.000000e+04
30,Fees,Freegold Ventures Limited,8.867400e+04
126,Taxes,TransAlta Corporation,4.002600e+04
0,Bonuses,BNK Petroleum Inc.,1.103100e+04
106,Taxes,Freegold Ventures Limited,7.737000e+03
104,Taxes,Eurasian Minerals Inc.,4.209000e+03
12,Fees,BNK Petroleum Inc.,3.824000e+03
103,Taxes,EntrA©e Gold Inc.,3.500000e+02

In [20]:
unique_list = pd.concat([links['source'], links['target']]).unique()
replace_dict = {k: v for v, k in enumerate(unique_list)}

In [21]:
links_replaced = links.replace({"source": replace_dict,"target": replace_dict})

In [22]:
links_replaced

     source  target         value
0         0       1  1.326789e+09
1         0       2  9.719232e+08
2         0       3  6.899835e+07
3         0       4  5.094728e+06
2         1       5  7.944091e+08
8         2       6  5.990397e+08
3         1       6  4.096844e+08
7         2       5  2.823842e+08
1         1       7  9.466987e+07
5         2       7  8.414347e+07
11        3       8  3.195508e+07
0         1       9  2.802562e+07
12        3       5  2.210378e+07
13        3       6  7.431555e+06
4         2       9  6.265747e+06
10        3       7  5.229382e+06
15        4       6  4.632565e+06
9         3       9  2.278557e+06
14        4       7  4.621630e+05
6         2      10  9.000000e+04
69        5      11  6.026200e+08
81        5      12  3.747777e+08
99        6      13  1.916800e+08
91        6      14  1.913385e+08
87        6      15  1.715860e+08
90        6      11  1.177172e+08
124       6      16  1.100046e+08
52        7      12  5.859035e+07
53        7      17  5.273256e+07
76        5      18  4.453751e+07
..      ...     ...           ...
45        7      62  2.338910e+05
51        7      63  2.160310e+05
33        7      27  2.126600e+05
60        7      64  2.000000e+05
48        7      30  1.886220e+05
9         7      65  1.811570e+05
32        7      66  1.810770e+05
89        6      67  1.765560e+05
109       6      68  1.600000e+05
29        7      69  1.508970e+05
59        7      70  1.295710e+05
40        7      71  1.282630e+05
110       6      72  1.207180e+05
35        7      23  1.207180e+05
55        7      43  1.143720e+05
36        7      72  1.131730e+05
65        7      73  1.058170e+05
20        7      74  1.056280e+05
57        7      75  9.808300e+04
123       6      75  9.808300e+04
28        7      53  9.808300e+04
3         9      18  9.053800e+04
66       10      52  9.000000e+04
30        7      76  8.867400e+04
126       6      70  4.002600e+04
0         9      67  1.103100e+04
106       6      76  7.737000e+03
104       6      50  4.209000e+03
12        7      67  3.824000e+03
103       6      57  3.500000e+02

[150 rows x 3 columns]

In [23]:
nodes = pd.DataFrame(unique_list)
nodes.rename(columns = {0:'name'}, inplace = True)

In [24]:
nodes_json= pd.DataFrame(nodes).to_json(orient='records')
nodes_json

'[{"name":"Total"},{"name":"Federal"},{"name":"State"},{"name":"Tribal"},{"name":"Unknown"},{"name":"Royalties"},{"name":"Taxes"},{"name":"Fees"},{"name":"Production entitlements"},{"name":"Bonuses"},{"name":"Payments for infrastructure improvements"},{"name":"BP P.L.C."},{"name":"ROYAL DUTCH SHELL PLC"},{"name":"Encana Corporation"},{"name":"Barrick Gold Corporation"},{"name":"Agrium Inc."},{"name":"Teck Resources Limited"},{"name":"Rio Tinto PLC"},{"name":"Enerplus Corporation"},{"name":"Kinross Gold Corporation"},{"name":"CNOOC Limited"},{"name":"Potash Corporation of Saskatchewan Inc."},{"name":"Silver Standard Resources Inc."},{"name":"Graymont Limited"},{"name":"Coeur Mining, Inc."},{"name":"Baytex Energy Corp."},{"name":"Total SA"},{"name":"Goldcorp Inc."},{"name":"Crescent Point Energy Corp."},{"name":"Capstone Mining Corp."},{"name":"PetroShale Inc."},{"name":"Energy Fuels Inc"},{"name":"Vermilion Energy Inc."},{"name":"Cameco Corporation"},{"name":"Votorantim Cement North America Inc."},{"name":"Klondex Mines Ltd."},{"name":"Enirgi Group Corporation"},{"name":"Ur-Energy Inc."},{"name":"New Gold Inc."},{"name":"Uranium One Inc."},{"name":"KGHM International"},{"name":"Eagle Energy Inc."},{"name":"Northern Dynasty Minerals Ltd."},{"name":"Scorpio Gold Corporation"},{"name":"McEwen Mining Inc."},{"name":"Golden Queen Mining Co. Ltd."},{"name":"Americas Silver Corporation"},{"name":"Source Energy Services US LP"},{"name":"OceanaGold Corporation"},{"name":"Agnico Eagle Mines Limited"},{"name":"Eurasian Minerals Inc."},{"name":"Liberty Gold Corp. (formerly Pilot Gold Inc.)"},{"name":"Midas Gold Corp"},{"name":"Excelsior Mining Corp"},{"name":"Rye Patch Gold Corp."},{"name":"Premier Gold Mines Limited"},{"name":"Prairie Provident Resources Inc."},{"name":"EntrA\\u00a9e Gold Inc."},{"name":"IC Potash Corp."},{"name":"Azarga Uranium Corp."},{"name":"Gold Standard Ventures Corp."},{"name":"Arizona Mining Inc."},{"name":"NewCastleGold Ltd"},{"name":"Quaterra Resources Inc."},{"name":"TriMetals Mining Inc."},{"name":"Anglo American plc"},{"name":"GoldMining Inc."},{"name":"BNK Petroleum Inc."},{"name":"Hudbay Minerals Inc."},{"name":"Franco-Nevada Corporation"},{"name":"TransAlta Corporation"},{"name":"LeadFX Inc."},{"name":"Imperial Metals Corporation"},{"name":"West Kirkland Mining Inc."},{"name":"Coral Gold Resources Ltd."},{"name":"Taseko Mines Limited"},{"name":"Freegold Ventures Limited"}]'

In [25]:
links_json= pd.DataFrame(links_replaced).to_json(orient='records')
links_json

'[{"source":0,"target":1,"value":1326789026.0},{"source":0,"target":2,"value":971923173.0},{"source":0,"target":3,"value":68998347.0},{"source":0,"target":4,"value":5094728.0},{"source":1,"target":5,"value":794409147.0},{"source":2,"target":6,"value":599039721.0},{"source":1,"target":6,"value":409684392.0},{"source":2,"target":5,"value":282384235.0},{"source":1,"target":7,"value":94669871.0},{"source":2,"target":7,"value":84143470.0},{"source":3,"target":8,"value":31955077.0},{"source":1,"target":9,"value":28025616.0},{"source":3,"target":5,"value":22103776.0},{"source":3,"target":6,"value":7431555.0},{"source":2,"target":9,"value":6265747.0},{"source":3,"target":7,"value":5229382.0},{"source":4,"target":6,"value":4632565.0},{"source":3,"target":9,"value":2278557.0},{"source":4,"target":7,"value":462163.0},{"source":2,"target":10,"value":90000.0},{"source":5,"target":11,"value":602620019.0},{"source":5,"target":12,"value":374777662.0},{"source":6,"target":13,"value":191680000.0},{"source":6,"target":14,"value":191338513.0},{"source":6,"target":15,"value":171585974.0},{"source":6,"target":11,"value":117717154.0},{"source":6,"target":16,"value":110004555.0},{"source":7,"target":12,"value":58590352.0},{"source":7,"target":17,"value":52732558.0},{"source":5,"target":18,"value":44537509.0},{"source":6,"target":19,"value":36800000.0},{"source":8,"target":11,"value":31955077.0},{"source":5,"target":13,"value":31880000.0},{"source":9,"target":11,"value":28025616.0},{"source":6,"target":18,"value":25946890.0},{"source":6,"target":20,"value":25073553.0},{"source":6,"target":12,"value":23771872.0},{"source":6,"target":21,"value":20180000.0},{"source":6,"target":22,"value":14727632.0},{"source":6,"target":23,"value":12871585.0},{"source":6,"target":24,"value":12530000.0},{"source":7,"target":11,"value":11695137.0},{"source":5,"target":25,"value":11166443.0},{"source":7,"target":15,"value":10057343.0},{"source":6,"target":26,"value":8936000.0},{"source":6,"target":27,"value":8599388.0},{"source":5,"target":28,"value":8050400.0},{"source":6,"target":28,"value":7967406.0},{"source":6,"target":29,"value":6365626.0},{"source":5,"target":17,"value":6345321.0},{"source":6,"target":25,"value":6254716.0},{"source":9,"target":30,"value":5658670.0},{"source":7,"target":18,"value":5100346.0},{"source":7,"target":31,"value":4662728.0},{"source":7,"target":13,"value":4650000.0},{"source":7,"target":32,"value":4534481.0},{"source":6,"target":17,"value":4500000.0},{"source":5,"target":20,"value":4476659.0},{"source":7,"target":14,"value":4127055.0},{"source":6,"target":31,"value":3923342.0},{"source":5,"target":26,"value":3634000.0},{"source":7,"target":19,"value":3470000.0},{"source":6,"target":33,"value":3466878.0},{"source":5,"target":15,"value":3282028.0},{"source":7,"target":33,"value":2832351.0},{"source":6,"target":34,"value":2780000.0},{"source":9,"target":28,"value":2527539.0},{"source":6,"target":35,"value":2331371.0},{"source":5,"target":36,"value":2120115.0},{"source":6,"target":37,"value":2069768.0},{"source":6,"target":38,"value":2009000.0},{"source":7,"target":39,"value":1939036.0},{"source":7,"target":20,"value":1805277.0},{"source":6,"target":40,"value":1580000.0},{"source":5,"target":22,"value":1441074.0},{"source":7,"target":16,"value":1403349.0},{"source":5,"target":41,"value":1229817.0},{"source":7,"target":28,"value":1222271.0},{"source":7,"target":42,"value":1056583.0},{"source":7,"target":37,"value":1003133.0},{"source":6,"target":43,"value":944438.0},{"source":5,"target":32,"value":890296.0},{"source":5,"target":33,"value":850308.0},{"source":7,"target":40,"value":840000.0},{"source":7,"target":24,"value":760000.0},{"source":6,"target":39,"value":739399.0},{"source":7,"target":44,"value":730000.0},{"source":6,"target":41,"value":694128.0},{"source":7,"target":35,"value":679040.0},{"source":7,"target":45,"value":672170.0},{"source":7,"target":22,"value":633769.0},{"source":6,"target":46,"value":630917.0},{"source":6,"target":47,"value":558322.0},{"source":5,"target":16,"value":543232.0},{"source":6,"target":48,"value":530000.0},{"source":7,"target":38,"value":528000.0},{"source":7,"target":48,"value":510000.0},{"source":7,"target":49,"value":452692.0},{"source":7,"target":50,"value":421897.0},{"source":7,"target":51,"value":420000.0},{"source":7,"target":46,"value":402259.0},{"source":7,"target":52,"value":400000.0},{"source":6,"target":53,"value":399879.0},{"source":6,"target":54,"value":385543.0},{"source":5,"target":23,"value":377244.0},{"source":7,"target":55,"value":373380.0},{"source":5,"target":56,"value":369699.0},{"source":7,"target":54,"value":368184.0},{"source":7,"target":21,"value":360000.0},{"source":7,"target":34,"value":330000.0},{"source":7,"target":29,"value":320657.0},{"source":7,"target":57,"value":319411.0},{"source":7,"target":25,"value":316884.0},{"source":5,"target":58,"value":305332.0},{"source":7,"target":41,"value":301795.0},{"source":7,"target":59,"value":290593.0},{"source":6,"target":36,"value":286705.0},{"source":7,"target":60,"value":271614.0},{"source":9,"target":47,"value":256526.0},{"source":7,"target":61,"value":250000.0},{"source":7,"target":62,"value":233891.0},{"source":7,"target":63,"value":216031.0},{"source":7,"target":27,"value":212660.0},{"source":7,"target":64,"value":200000.0},{"source":7,"target":30,"value":188622.0},{"source":7,"target":65,"value":181157.0},{"source":7,"target":66,"value":181077.0},{"source":6,"target":67,"value":176556.0},{"source":6,"target":68,"value":160000.0},{"source":7,"target":69,"value":150897.0},{"source":7,"target":70,"value":129571.0},{"source":7,"target":71,"value":128263.0},{"source":6,"target":72,"value":120718.0},{"source":7,"target":23,"value":120718.0},{"source":7,"target":43,"value":114372.0},{"source":7,"target":72,"value":113173.0},{"source":7,"target":73,"value":105817.0},{"source":7,"target":74,"value":105628.0},{"source":7,"target":75,"value":98083.0},{"source":6,"target":75,"value":98083.0},{"source":7,"target":53,"value":98083.0},{"source":9,"target":18,"value":90538.0},{"source":10,"target":52,"value":90000.0},{"source":7,"target":76,"value":88674.0},{"source":6,"target":70,"value":40026.0},{"source":9,"target":67,"value":11031.0},{"source":6,"target":76,"value":7737.0},{"source":6,"target":50,"value":4209.0},{"source":7,"target":67,"value":3824.0},{"source":6,"target":57,"value":350.0}]'

In [26]:
data = { 'links' : json.loads(links_json), 'nodes' : json.loads(nodes_json) }
data_json = json.dumps(data)
data_json = data_json.replace("\\","")
#print(data_json)
#with open('sankey_data.json', 'w') as outfile:
#    json.dump(data_json, outfile)

text_file = open("sankey_data.json", "w")
text_file.write(data_json)
text_file.close()