In [272]:
import pandas as pd
import json
import numpy as np

In [273]:
df = pd.read_csv('data/eiti-summary-company-payments.csv')

In [274]:
df = df[df['country'] == "Myanmar"]

In [275]:
df.head()

,created,changed,country,iso3,year,start_date,end_date,company_name,gfs_code,gfs_description,name_of_revenue_stream,currency_code,currency_rate,value_reported,value_reported_as_USD,reporting_url
31969,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1112-E1,"Ordinary taxes on income, profits and capital ...",Revenue Stream: 1112E1 [Ordinary taxes on inco...,MMK,960.5121,4.017128e+10,41822777.0,https://eiti.org/api/v1.0/organisation/31689
31970,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E1,Royalties,Revenue Stream: 1415E1 [Royalties] - Royalties,MMK,960.5121,1.407288e+11,146514378.0,https://eiti.org/api/v1.0/organisation/31689
31971,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,6.139777e+11,639219143.0,https://eiti.org/api/v1.0/organisation/31689
31972,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,1.208082e+11,125774746.0,https://eiti.org/api/v1.0/organisation/31689
31973,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",Petronas Carigali Myanmar Inc,1415-E32,Delivered/paid to state-owned enterprise(s),Revenue Stream: 1415E32 [Delivered/paid to sta...,MMK,960.5121,4.923598e+09,5126014.0,https://eiti.org/api/v1.0/organisation/31689

## Clean data

In [276]:
df["company_name"].unique()

array(['Petronas Carigali Myanmar Inc', 'TOTAL',
       'Daewoo International Corporation', 'PTT Exploration & Production',
       'Goldpetrol Co Ltd', 'MPRL E&P Pte Ltd', 'Nippon Oil', 'UNOCAL',
       'Chinnery Assets Ltd', 'SNOG Pte Ltd', 'Eternal Mining Company Ltd',
       'Kayah State Mining Production Co. (KMPC)',
       'Myanmar Pongpipat Company Limited', 'Nobel Gold',
       'Tha Byu Mining Co., Ltd.', 'Win Myint Mo Industries Co.,Ltd.',
       'DELCO (Developers Enterepreneurs Liaison Construction Organizers Limited',
       'GPS Joint Venture Co., Ltd.', 'Ngwe Yi Pale Mining Co., Ltd',
       'Max Myanmar Manufacturing Co.,',
       'Triple A Cement International Co., Ltd',
       'Myanmar Wanbao Mining Copper', 'Myanmar Yang Tse Copper Ltd',
       'CNMC Nickel Co Ltd. (MCNICO) (Tagaung Taung Nickel project)',
       'Great Genesis Gems Co., Ltd.', 'MYANMAR IMPERIAL JADE',
       'Richest Gems Co., Ltd', 'LINN LETT WIN YADANAR GEMS',
       'EVER WINNER GEMS', 'AUNG HEIN MIN GEMS', 'Wai Aung Ka Bar',
       'Ya Zar Htar Ni', 'SHWE YWET HLWAR GEMS', 'Kyauk Sein Na Gar',
       'YADANAR YAUNG CHI GEMS', 'Jade Mountain Gems', 'THI RAW MANI GEMS',
       'Kyaik International', 'MYAT YAMON GEMS', 'WINN LEI YADANA',
       'Myanmar Si Thu', '111', 'Sein Lone Taung Tan',
       'SHINING STAR LIGHT GEMS', 'Khin Zaw Aung and Brothers',
       'Xie Family', 'Aye Yar Kyauk Sein', 'WAI FAMILY GEMS',
       'AYEYAR YANDANAR GEMS', 'A Myo Thar Kyi Pwar Toe Tat Yay',
       'SHWE WAH MYAY (MANDALAY)', 'Ya Da Nar Taung Tan',
       'NAY LA PWINT GEMS', 'TREASURE WHITE LOTUS GEMS'], dtype=object)

In [277]:
companies_info_df = pd.read_csv('data/eiti_summary_companies_cleaned.csv')

In [278]:
companies_info_df.head()

,Legal name,Identification,Company_name_cl,Identification_cl,Commodities
0,Petronas Carigali Myanmar Inc,NC,PETRONAS CARIGALI MYANMAR INC.(BRANCH OFFICE),16FC/2011-2012,Oil & Gas
1,TOTAL,24FC of 1992-1993,TOTAL E & P MYANMAR (YANGON BRANCH),24FC/1992-1993,Oil & Gas
2,Daewoo International Corporation,1 FC / 2002-2003,Posco Daewoo Corporation (Myanmar E&P Office),1FC/2002-2003,Oil & Gas
3,PTT Exploration & Production,84 FC,PTTEP International Ltd. (Yangon Branch),84FC/1995-1996,Oil & Gas
4,Goldpetrol Co Ltd,173 FC,Goldpetrol Co Ltd,173 FC,Oil & Gas

In [279]:
df = pd.merge(df, companies_info_df, left_on='company_name', right_on='Legal name')

In [280]:
df[df['Commodities'] == 'Gems & Jade']['name_of_revenue_stream'].unique()

array(['Revenue Stream: 1415E1 [Royalties] - Royalties',
       'Revenue Stream: 1415E32 [Delivered/paid to state-owned enterprise(s)] - Sale Split',
       'Revenue Stream: 1415E32 [Delivered/paid to state-owned enterprise(s)] - Emporium Fees / Sale Fees',
       'Revenue Stream: 1422E [Administrative fees for government services] - Supervision Fees',
       'Revenue Stream: 1415E5 [Other rent payments] - Other significant payments (&gt; 50,000 USD)'], dtype=object)

In [281]:
df[df['Commodities'] == 'Gems & Jade']['gfs_description'].unique()

array(['Royalties', 'Delivered/paid to state-owned enterprise(s)',
       'Administrative fees for government services', 'Other rent payments'], dtype=object)

In [282]:
df['revenue_stream_short'] = df['name_of_revenue_stream'].str.split(' - ').str[1]

In [283]:
df_gemsjade = df[df['Commodities'] == 'Gems & Jade']

In [284]:
df_gemsjade.head()

,created,changed,country,iso3,year,start_date,end_date,company_name,gfs_code,gfs_description,...,currency_rate,value_reported,value_reported_as_USD,reporting_url,Legal name,Identification,Company_name_cl,Identification_cl,Commodities,revenue_stream_short
76,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014","Great Genesis Gems Co., Ltd.",1415-E1,Royalties,...,960.5121,4.245309e+09,4419839.0,https://eiti.org/api/v1.0/organisation/31716,"Great Genesis Gems Co., Ltd.",978/2005-2006,GREAT GENESIS GEMS COMPANY LIMITED,978/2005-2006,Gems & Jade,Royalties
77,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014","Great Genesis Gems Co., Ltd.",1415-E32,Delivered/paid to state-owned enterprise(s),...,960.5121,1.500496e+10,15621836.0,https://eiti.org/api/v1.0/organisation/31716,"Great Genesis Gems Co., Ltd.",978/2005-2006,GREAT GENESIS GEMS COMPANY LIMITED,978/2005-2006,Gems & Jade,Sale Split
78,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014","Great Genesis Gems Co., Ltd.",1415-E32,Delivered/paid to state-owned enterprise(s),...,960.5121,3.842051e+08,400000.0,https://eiti.org/api/v1.0/organisation/31716,"Great Genesis Gems Co., Ltd.",978/2005-2006,GREAT GENESIS GEMS COMPANY LIMITED,978/2005-2006,Gems & Jade,Emporium Fees / Sale Fees
79,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014","Great Genesis Gems Co., Ltd.",1422-E,Administrative fees for government services,...,960.5121,3.820778e+08,397785.0,https://eiti.org/api/v1.0/organisation/31716,"Great Genesis Gems Co., Ltd.",978/2005-2006,GREAT GENESIS GEMS COMPANY LIMITED,978/2005-2006,Gems & Jade,Supervision Fees
80,2017-02-13T07:00:42+0000,2017-02-13T07:00:42+0000,Myanmar,MMR,2014,"Apr 1, 2013","Mar 31, 2014",MYANMAR IMPERIAL JADE,1415-E1,Royalties,...,960.5121,3.831097e+09,3988599.0,https://eiti.org/api/v1.0/organisation/31717,MYANMAR IMPERIAL JADE,919 / 1996-1997,MYANMAR IMPERIAL JADE (GEMS & JEWELLERY) COMPA...,919/1996-1997,Gems & Jade,Royalties

In [285]:
append_dict_others = [{'Company_name_cl': 'Others (Not in Reconciliation Scope)', 
                       'revenue_stream_short': 'Royalties', 'value_reported': 111092756522 },
                     {'Company_name_cl': 'Others (Not in Reconciliation Scope)', 
                       'revenue_stream_short': 'Sale Split', 'value_reported': 51742994736 },
                     {'Company_name_cl': 'Others (Not in Reconciliation Scope)', 
                       'revenue_stream_short': 'Emporium Fees / Sale Fees', 'value_reported': 11401644588 },
                     {'Company_name_cl': 'Others (Not in Reconciliation Scope)', 
                       'revenue_stream_short': 'Supervision Fees', 'value_reported': 1246890624 },
                     {'Company_name_cl': 'Others (Not in Reconciliation Scope)', 
                       'revenue_stream_short': 'Other significant payments (&gt; 50,000 USD)', 'value_reported': 2186525820 }]

others_df = pd.DataFrame(append_dict_others)
df_gemsjade = pd.concat([df_gemsjade, others_df])
df_gemsjade.tail(10)

,Commodities,Company_name_cl,Identification,Identification_cl,Legal name,changed,company_name,country,created,currency_code,...,gfs_code,gfs_description,iso3,name_of_revenue_stream,reporting_url,revenue_stream_short,start_date,value_reported,value_reported_as_USD,year
178,Gems & Jade,NAY LA PWINT GEMS COMPANY LIMITED,927/1995-1996,927/1995-1996,NAY LA PWINT GEMS,2017-02-13T07:00:42+0000,NAY LA PWINT GEMS,Myanmar,2017-02-13T07:00:42+0000,MMK,...,1415-E32,Delivered/paid to state-owned enterprise(s),MMR,Revenue Stream: 1415E32 [Delivered/paid to sta...,https://eiti.org/api/v1.0/organisation/31744,Sale Split,"Apr 1, 2013",3.070955e+09,3197206.0,2014.0
179,Gems & Jade,NAY LA PWINT GEMS COMPANY LIMITED,927/1995-1996,927/1995-1996,NAY LA PWINT GEMS,2017-02-13T07:00:42+0000,NAY LA PWINT GEMS,Myanmar,2017-02-13T07:00:42+0000,MMK,...,1415-E32,Delivered/paid to state-owned enterprise(s),MMR,Revenue Stream: 1415E32 [Delivered/paid to sta...,https://eiti.org/api/v1.0/organisation/31744,Emporium Fees / Sale Fees,"Apr 1, 2013",1.175741e+08,122408.0,2014.0
180,Gems & Jade,NAY LA PWINT GEMS COMPANY LIMITED,927/1995-1996,927/1995-1996,NAY LA PWINT GEMS,2017-02-13T07:00:42+0000,NAY LA PWINT GEMS,Myanmar,2017-02-13T07:00:42+0000,MMK,...,1422-E,Administrative fees for government services,MMR,Revenue Stream: 1422E [Administrative fees for...,https://eiti.org/api/v1.0/organisation/31744,Supervision Fees,"Apr 1, 2013",8.066344e+07,83980.0,2014.0
181,Gems & Jade,TREASURE WHITE LOTUS GEMS COMPANY LIMITED,273/2003-2004,273/2003-2004,TREASURE WHITE LOTUS GEMS,2017-02-13T07:00:42+0000,TREASURE WHITE LOTUS GEMS,Myanmar,2017-02-13T07:00:42+0000,MMK,...,1415-E1,Royalties,MMR,Revenue Stream: 1415E1 [Royalties] - Royalties,https://eiti.org/api/v1.0/organisation/31745,Royalties,"Apr 1, 2013",9.234732e+08,961438.0,2014.0
182,Gems & Jade,TREASURE WHITE LOTUS GEMS COMPANY LIMITED,273/2003-2004,273/2003-2004,TREASURE WHITE LOTUS GEMS,2017-02-13T07:00:42+0000,TREASURE WHITE LOTUS GEMS,Myanmar,2017-02-13T07:00:42+0000,MMK,...,1415-E32,Delivered/paid to state-owned enterprise(s),MMR,Revenue Stream: 1415E32 [Delivered/paid to sta...,https://eiti.org/api/v1.0/organisation/31745,Emporium Fees / Sale Fees,"Apr 1, 2013",8.359920e+07,87036.0,2014.0
0,NaN,Others (Not in Reconciliation Scope),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Royalties,NaN,1.110928e+11,NaN,NaN
1,NaN,Others (Not in Reconciliation Scope),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Sale Split,NaN,5.174299e+10,NaN,NaN
2,NaN,Others (Not in Reconciliation Scope),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Emporium Fees / Sale Fees,NaN,1.140164e+10,NaN,NaN
3,NaN,Others (Not in Reconciliation Scope),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Supervision Fees,NaN,1.246891e+09,NaN,NaN
4,NaN,Others (Not in Reconciliation Scope),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"Other significant payments (&gt; 50,000 USD)",NaN,2.186526e+09,NaN,NaN

In [286]:
df_gemsjade['revenue_stream_short'] = df_gemsjade['revenue_stream_short'].replace({'Other significant payments (&gt; 50,000 USD)': 'Other significant payments (> 50,000 USD)'})

## Remove negative payments for Sankey

In [287]:
df_gemsjade = df_gemsjade[df_gemsjade["value_reported"] >= 0]

## Prepare Source-Target-Value dataframe

In [288]:
links = pd.DataFrame(columns=['source','target','value'])

In [289]:
to_append = df_gemsjade.groupby(['revenue_stream_short'],as_index=False)['value_reported','value_reported_as_USD'].sum()
to_append["target"] = "Myanmar Gems Enterprise"
to_append.rename(columns = {'revenue_stream_short':'source', 'value_reported' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

380196722113.0

,source,target,value,value_reported_as_USD
3,Sale Split,Myanmar Gems Enterprise,1.859303e+11,139703870.0
2,Royalties,Myanmar Gems Enterprise,1.700241e+11,61354119.0
0,Emporium Fees / Sale Fees,Myanmar Gems Enterprise,1.752952e+10,6379800.0
4,Supervision Fees,Myanmar Gems Enterprise,4.436739e+09,3320985.0
1,"Other significant payments (> 50,000 USD)",Myanmar Gems Enterprise,2.276081e+09,93237.0

In [290]:
append_dict_transfers = [{'source': 'Myanmar Gems Enterprise', 
                       'target': 'State Contribution', 'value': 48367022000 },
                         {'source': 'Myanmar Gems Enterprise', 
                       'target': 'Transfers to Other Accounts', 'value': 195516457782 },
                         {'source': 'Myanmar Gems Enterprise', 
                       'target': 'Commercial Tax', 'value': 21499000 },
                         {'source': 'Myanmar Gems Enterprise', 
                       'target': 'Corporate Income Tax', 'value': 60458777000 },
                         {'source': 'Myanmar Gems Enterprise', 
                       'target': 'Other material transfers (> 50,000 USD)', 'value': 119588538585 },
                         {'source': 'State Contribution', 
                       'target': 'Ministry of Finance', 'value': 48367022000 },
                         {'source': 'Transfers to Other Accounts', 
                       'target': 'Ministry of Finance', 'value': 195516457782 },
                         {'source': 'Corporate Income Tax', 
                       'target': 'Internal Revenue Department', 'value': 60458777000 },
                         {'source': 'Commercial Tax', 
                       'target': 'Internal Revenue Department', 'value': 21499000 },
                         {'source': 'Other material transfers (> 50,000 USD)', 
                       'target': 'All', 'value': 119588538585 }]

append_dict_transfers_df = pd.DataFrame(append_dict_transfers)
links = pd.concat([links, append_dict_transfers_df])

In [291]:
to_append = df_gemsjade.groupby(['revenue_stream_short','Company_name_cl'],as_index=False)['value_reported','value_reported_as_USD'].sum()
to_append.rename(columns = {'Company_name_cl':'source','revenue_stream_short':'target', 'value_reported' : 'value'}, inplace = True)
to_append = to_append.sort_values(by=['value'], ascending = False)
links = pd.concat([links,to_append])

print(to_append['value'].sum())
links

380196722113.0

,source,target,value,value_reported_as_USD
3,Sale Split,Myanmar Gems Enterprise,1.859303e+11,139703870.0
2,Royalties,Myanmar Gems Enterprise,1.700241e+11,61354119.0
0,Emporium Fees / Sale Fees,Myanmar Gems Enterprise,1.752952e+10,6379800.0
4,Supervision Fees,Myanmar Gems Enterprise,4.436739e+09,3320985.0
1,"Other significant payments (> 50,000 USD)",Myanmar Gems Enterprise,2.276081e+09,93237.0
0,Myanmar Gems Enterprise,State Contribution,4.836702e+10,NaN
1,Myanmar Gems Enterprise,Transfers to Other Accounts,1.955165e+11,NaN
2,Myanmar Gems Enterprise,Commercial Tax,2.149900e+07,NaN
3,Myanmar Gems Enterprise,Corporate Income Tax,6.045878e+10,NaN
4,Myanmar Gems Enterprise,"Other material transfers (> 50,000 USD)",1.195885e+11,NaN
5,State Contribution,Ministry of Finance,4.836702e+10,NaN
6,Transfers to Other Accounts,Ministry of Finance,1.955165e+11,NaN
7,Corporate Income Tax,Internal Revenue Department,6.045878e+10,NaN
8,Commercial Tax,Internal Revenue Department,2.149900e+07,NaN
9,"Other material transfers (> 50,000 USD)",All,1.195885e+11,NaN
49,Others (Not in Reconciliation Scope),Royalties,1.110928e+11,NaN
77,Others (Not in Reconciliation Scope),Sale Split,5.174299e+10,NaN
67,GREAT GENESIS GEMS COMPANY LIMITED,Sale Split,1.500496e+10,15621836.0
84,WAI AUNG GABAR GEMS COMPANY LIMITED,Sale Split,1.339731e+10,13948088.0
78,RICHEST GEMS COMPANY LIMITED,Sale Split,1.210528e+10,12602939.0
16,Others (Not in Reconciliation Scope),Emporium Fees / Sale Fees,1.140164e+10,NaN
87,YAR ZA HTAR NE GEMS COMPANY LIMITED,Sale Split,1.034887e+10,10774326.0
83,THI RAW MANI GEMS & JEWELLERY COMPANY LIMITED,Sale Split,8.613594e+09,8967710.0
71,KYAUK SEINN NAGAR (GEMS) COMPANY LIMITED,Sale Split,6.952791e+09,7238630.0
79,Sein Lom Taung Tan Gems Ltd.,Sale Split,6.679490e+09,6954092.0
68,JADE MOUNTAIN COMPANY LIMITED,Sale Split,6.416196e+09,6679974.0
73,Myanmar Si Thu,Sale Split,6.129156e+09,6381133.0
64,(1.1.1) GEMS & JEWELLERY COMPANY LIMITED,Sale Split,6.067505e+09,6316948.0
80,"Shining Star Light Gems & Jewellery Co., Ltd.",Sale Split,5.749174e+09,5985530.0
72,LINN LETT WIN YADANAR GEMS COMPANY LIMITED,Sale Split,5.723627e+09,5958933.0
...,...,...,...,...
92,JADE MOUNTAIN COMPANY LIMITED,Supervision Fees,1.495999e+08,155750.0
103,Sein Lom Taung Tan Gems Ltd.,Supervision Fees,1.478555e+08,153934.0
88,(1.1.1) GEMS & JEWELLERY COMPANY LIMITED,Supervision Fees,1.455777e+08,151563.0
104,"Shining Star Light Gems & Jewellery Co., Ltd.",Supervision Fees,1.447724e+08,150724.0
13,"Myat Yamon Gems Co.,Ltd",Emporium Fees / Sale Fees,1.433418e+08,149235.0
96,LINN LETT WIN YADANAR GEMS COMPANY LIMITED,Supervision Fees,1.424591e+08,148316.0
28,YADANAR TAUNG TANN GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,1.364266e+08,142035.0
110,YADANAR TAUNG TANN GEMS COMPANY LIMITED,Supervision Fees,1.364266e+08,142035.0
109,XIE FAMILY COMPANY LIMITED,Supervision Fees,1.216819e+08,126684.0
27,XIE FAMILY COMPANY LIMITED,Emporium Fees / Sale Fees,1.216819e+08,126684.0
15,NAY LA PWINT GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,1.175741e+08,122408.0
90,AYAR JADE COMPANY LIMITED,Supervision Fees,1.171002e+08,121914.0
8,KYAING INTERNATIONAL GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,1.118516e+08,116450.0
98,"Myat Yamon Gems Co.,Ltd",Supervision Fees,1.004844e+08,104615.0
94,KYAING INTERNATIONAL GEMS COMPANY LIMITED,Supervision Fees,9.956980e+07,103663.0
82,"Shwe Ywet Hlwar Gems Co.,.Ltd.",Sale Split,9.859892e+07,102652.0
25,WAI FAMILY GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,9.701789e+07,101006.0
7,KHIN ZAW AUNG & BROTHERS GEMS AND JEWELLERY CO...,Emporium Fees / Sale Fees,9.442815e+07,98310.0
32,YANDANAR YAUNG CHI GEMS COMPANY LIMITED,"Other significant payments (> 50,000 USD)",8.955549e+07,93237.0
3,AYEYAR YADANAR GEMS & JEWELLERY COMPANY LIMITED,Emporium Fees / Sale Fees,8.946155e+07,93139.0
20,"Shwe Wah Myay (Mandalay)Gems& Co.,Ltd.",Emporium Fees / Sale Fees,8.556557e+07,89083.0
23,TREASURE WHITE LOTUS GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,8.359920e+07,87036.0
100,NAY LA PWINT GEMS COMPANY LIMITED,Supervision Fees,8.066344e+07,83980.0
93,KHIN ZAW AUNG & BROTHERS GEMS AND JEWELLERY CO...,Supervision Fees,7.479552e+07,77870.0
65,AUNG HEIN MIN GEMS COMPANY LIMITED,Sale Split,3.339024e+07,34763.0
14,NATIONAL PROSPERITY GEMS COMPANY LIMITED,Emporium Fees / Sale Fees,3.257888e+07,33918.0
99,NATIONAL PROSPERITY GEMS COMPANY LIMITED,Supervision Fees,2.605310e+07,27124.0
105,"Shwe Wah Myay (Mandalay)Gems& Co.,Ltd.",Supervision Fees,5.763085e+06,6000.0
106,"Shwe Ywet Hlwar Gems Co.,.Ltd.",Supervision Fees,3.792266e+06,3948.0
89,AUNG HEIN MIN GEMS COMPANY LIMITED,Supervision Fees,8.961113e+05,933.0

In [292]:
#to_append = df.groupby(['Payment Type','Reporting Company'],as_index=False)['Value (USD)'].sum()
#to_append.rename(columns = {'Payment Type':'source','Reporting Company':'target', 'Value (USD)' : 'value'}, inplace = True)
#to_append = to_append.sort_values(by=['value'], ascending = False)
#links = pd.concat([links,to_append])

#print(to_append['value'].sum())
#links

In [293]:
unique_list = pd.concat([links['source'], links['target']]).unique()
replace_dict = {k: v for v, k in enumerate(unique_list)}

In [294]:
links_replaced = links.replace({"source": replace_dict,"target": replace_dict})

In [295]:
links_replaced

     source  target         value  value_reported_as_USD
3         0       5  1.859303e+11            139703870.0
2         1       5  1.700241e+11             61354119.0
0         2       5  1.752952e+10              6379800.0
4         3       5  4.436739e+09              3320985.0
1         4       5  2.276081e+09                93237.0
0         5       6  4.836702e+10                    NaN
1         5       7  1.955165e+11                    NaN
2         5       9  2.149900e+07                    NaN
3         5       8  6.045878e+10                    NaN
4         5      10  1.195885e+11                    NaN
5         6      42  4.836702e+10                    NaN
6         7      42  1.955165e+11                    NaN
7         8      43  6.045878e+10                    NaN
8         9      43  2.149900e+07                    NaN
9        10      44  1.195885e+11                    NaN
49       11       1  1.110928e+11                    NaN
77       11       0  5.174299e+10                    NaN
67       12       0  1.500496e+10             15621836.0
84       13       0  1.339731e+10             13948088.0
78       14       0  1.210528e+10             12602939.0
16       11       2  1.140164e+10                    NaN
87       15       0  1.034887e+10             10774326.0
83       16       0  8.613594e+09              8967710.0
71       17       0  6.952791e+09              7238630.0
79       18       0  6.679490e+09              6954092.0
68       19       0  6.416196e+09              6679974.0
73       20       0  6.129156e+09              6381133.0
64       21       0  6.067505e+09              6316948.0
80       22       0  5.749174e+09              5985530.0
72       23       0  5.723627e+09              5958933.0
..      ...     ...           ...                    ...
92       19       3  1.495999e+08               155750.0
103      18       3  1.478555e+08               153934.0
88       21       3  1.455777e+08               151563.0
104      22       3  1.447724e+08               150724.0
13       28       2  1.433418e+08               149235.0
96       23       3  1.424591e+08               148316.0
28       24       2  1.364266e+08               142035.0
110      24       3  1.364266e+08               142035.0
109      26       3  1.216819e+08               126684.0
27       26       2  1.216819e+08               126684.0
15       32       2  1.175741e+08               122408.0
90       25       3  1.171002e+08               121914.0
8        29       2  1.118516e+08               116450.0
98       28       3  1.004844e+08               104615.0
94       29       3  9.956980e+07               103663.0
82       35       0  9.859892e+07               102652.0
25       38       2  9.701789e+07               101006.0
7        31       2  9.442815e+07                98310.0
32       36       4  8.955549e+07                93237.0
3        39       2  8.946155e+07                93139.0
20       41       2  8.556557e+07                89083.0
23       40       2  8.359920e+07                87036.0
100      32       3  8.066344e+07                83980.0
93       31       3  7.479552e+07                77870.0
65       34       0  3.339024e+07                34763.0
14       37       2  3.257888e+07                33918.0
99       37       3  2.605310e+07                27124.0
105      41       3  5.763085e+06                 6000.0
106      35       3  3.792266e+06                 3948.0
89       34       3  8.961113e+05                  933.0

[127 rows x 4 columns]

In [296]:
nodes = pd.DataFrame(unique_list)
nodes.rename(columns = {0:'name'}, inplace = True)

In [297]:
nodes_json= pd.DataFrame(nodes).to_json(orient='records')
nodes_json

'[{"name":"Sale Split"},{"name":"Royalties"},{"name":"Emporium Fees \\/ Sale Fees"},{"name":"Supervision Fees"},{"name":"Other significant payments (> 50,000 USD)"},{"name":"Myanmar Gems Enterprise"},{"name":"State Contribution"},{"name":"Transfers to Other Accounts"},{"name":"Corporate Income Tax"},{"name":"Commercial Tax"},{"name":"Other material transfers (> 50,000 USD)"},{"name":"Others (Not in Reconciliation Scope)"},{"name":"GREAT GENESIS GEMS COMPANY LIMITED"},{"name":"WAI AUNG GABAR GEMS COMPANY LIMITED"},{"name":"RICHEST GEMS COMPANY LIMITED"},{"name":"YAR ZA HTAR NE GEMS COMPANY LIMITED"},{"name":"THI RAW MANI GEMS & JEWELLERY COMPANY LIMITED"},{"name":"KYAUK SEINN NAGAR (GEMS) COMPANY LIMITED"},{"name":"Sein Lom Taung Tan Gems Ltd."},{"name":"JADE MOUNTAIN COMPANY LIMITED"},{"name":"Myanmar Si Thu"},{"name":"(1.1.1) GEMS & JEWELLERY COMPANY LIMITED"},{"name":"Shining Star Light Gems & Jewellery Co., Ltd."},{"name":"LINN LETT WIN YADANAR GEMS COMPANY LIMITED"},{"name":"YADANAR TAUNG TANN GEMS COMPANY LIMITED"},{"name":"AYAR JADE COMPANY LIMITED"},{"name":"XIE FAMILY COMPANY LIMITED"},{"name":"Ever Winner Gems Co., Ltd."},{"name":"Myat Yamon Gems Co.,Ltd"},{"name":"KYAING INTERNATIONAL GEMS COMPANY LIMITED"},{"name":"MYANMAR IMPERIAL JADE (GEMS & JEWELLERY) COMPANY LIMITED"},{"name":"KHIN ZAW AUNG & BROTHERS GEMS AND JEWELLERY COMPANY LIMITED"},{"name":"NAY LA PWINT GEMS COMPANY LIMITED"},{"name":"WINN LEI YADANAR COMPANY LIMITED"},{"name":"AUNG HEIN MIN GEMS COMPANY LIMITED"},{"name":"Shwe Ywet Hlwar Gems Co.,.Ltd."},{"name":"YANDANAR YAUNG CHI GEMS COMPANY LIMITED"},{"name":"NATIONAL PROSPERITY GEMS COMPANY LIMITED"},{"name":"WAI FAMILY GEMS COMPANY LIMITED"},{"name":"AYEYAR YADANAR GEMS & JEWELLERY COMPANY LIMITED"},{"name":"TREASURE WHITE LOTUS GEMS COMPANY LIMITED"},{"name":"Shwe Wah Myay (Mandalay)Gems& Co.,Ltd."},{"name":"Ministry of Finance"},{"name":"Internal Revenue Department"},{"name":"All"}]'

In [298]:
links_json= pd.DataFrame(links_replaced).to_json(orient='records')
links_json

'[{"source":0,"target":5,"value":185930251282.5733337402,"value_reported_as_USD":139703870.0},{"source":1,"target":5,"value":170024130471.1452636719,"value_reported_as_USD":61354119.0},{"source":2,"target":5,"value":17529519654.9551582336,"value_reported_as_USD":6379800.0},{"source":3,"target":5,"value":4436739393.4279022217,"value_reported_as_USD":3320985.0},{"source":4,"target":5,"value":2276081310.4148459435,"value_reported_as_USD":93237.0},{"source":5,"target":6,"value":48367022000.0,"value_reported_as_USD":null},{"source":5,"target":7,"value":195516457782.0,"value_reported_as_USD":null},{"source":5,"target":9,"value":21499000.0,"value_reported_as_USD":null},{"source":5,"target":8,"value":60458777000.0,"value_reported_as_USD":null},{"source":5,"target":10,"value":119588538585.0,"value_reported_as_USD":null},{"source":6,"target":42,"value":48367022000.0,"value_reported_as_USD":null},{"source":7,"target":42,"value":195516457782.0,"value_reported_as_USD":null},{"source":8,"target":43,"value":60458777000.0,"value_reported_as_USD":null},{"source":9,"target":43,"value":21499000.0,"value_reported_as_USD":null},{"source":10,"target":44,"value":119588538585.0,"value_reported_as_USD":null},{"source":11,"target":1,"value":111092756522.0,"value_reported_as_USD":null},{"source":11,"target":0,"value":51742994736.0,"value_reported_as_USD":null},{"source":12,"target":0,"value":15004962403.7789993286,"value_reported_as_USD":15621836.0},{"source":13,"target":0,"value":13397307541.9280014038,"value_reported_as_USD":13948088.0},{"source":14,"target":0,"value":12105275122.6339988708,"value_reported_as_USD":12602939.0},{"source":11,"target":2,"value":11401644588.0,"value_reported_as_USD":null},{"source":15,"target":0,"value":10348870278.4599990845,"value_reported_as_USD":10774326.0},{"source":16,"target":0,"value":8613593872.3738002777,"value_reported_as_USD":8967710.0},{"source":17,"target":0,"value":6952791229.9081001282,"value_reported_as_USD":7238630.0},{"source":18,"target":0,"value":6679489706.5233001709,"value_reported_as_USD":6954092.0},{"source":19,"target":0,"value":6416195690.9054002762,"value_reported_as_USD":6679974.0},{"source":20,"target":0,"value":6129155548.2059001923,"value_reported_as_USD":6381133.0},{"source":21,"target":0,"value":6067505197.6282997131,"value_reported_as_USD":6316948.0},{"source":22,"target":0,"value":5749173952.8357000351,"value_reported_as_USD":5985530.0},{"source":23,"target":0,"value":5723627073.9181003571,"value_reported_as_USD":5958933.0},{"source":24,"target":0,"value":5347922221.6293001175,"value_reported_as_USD":5567782.0},{"source":25,"target":0,"value":5089835397.8985004425,"value_reported_as_USD":5299085.0},{"source":26,"target":0,"value":4769929860.1324996948,"value_reported_as_USD":4966028.0},{"source":12,"target":1,"value":4245308740.3607001305,"value_reported_as_USD":4419839.0},{"source":27,"target":1,"value":4088604266.2362999916,"value_reported_as_USD":4256692.0},{"source":28,"target":0,"value":4043300771.4123001099,"value_reported_as_USD":4209526.0},{"source":29,"target":0,"value":4041883202.7750000954,"value_reported_as_USD":4208050.0},{"source":13,"target":1,"value":3942465305.63560009,"value_reported_as_USD":4104545.0},{"source":30,"target":1,"value":3831097417.3119001389,"value_reported_as_USD":3988599.0},{"source":22,"target":1,"value":3355461821.583799839,"value_reported_as_USD":3493409.0},{"source":14,"target":1,"value":3306123319.1367998123,"value_reported_as_USD":3442042.0},{"source":31,"target":0,"value":3185900388.0584998131,"value_reported_as_USD":3316877.0},{"source":32,"target":0,"value":3070954618.1971998215,"value_reported_as_USD":3197206.0},{"source":16,"target":1,"value":2519338543.0778999329,"value_reported_as_USD":2622912.0},{"source":11,"target":4,"value":2186525820.0,"value_reported_as_USD":null},{"source":33,"target":1,"value":2147999412.7505002022,"value_reported_as_USD":2236306.0},{"source":23,"target":1,"value":2017969271.6017999649,"value_reported_as_USD":2100931.0},{"source":21,"target":1,"value":1985585020.3972001076,"value_reported_as_USD":2067215.0},{"source":34,"target":1,"value":1960794321.3055000305,"value_reported_as_USD":2041405.0},{"source":15,"target":1,"value":1818793350.5064001083,"value_reported_as_USD":1893566.0},{"source":19,"target":1,"value":1816162216.269299984,"value_reported_as_USD":1890827.0},{"source":35,"target":1,"value":1812024355.3248999119,"value_reported_as_USD":1886519.0},{"source":17,"target":1,"value":1789227334.1271998882,"value_reported_as_USD":1862785.0},{"source":20,"target":1,"value":1696545537.2020001411,"value_reported_as_USD":1766293.0},{"source":18,"target":1,"value":1642838648.3612000942,"value_reported_as_USD":1710378.0},{"source":36,"target":1,"value":1630512688.3931000233,"value_reported_as_USD":1697545.0},{"source":25,"target":1,"value":1625061386.4732000828,"value_reported_as_USD":1691870.0},{"source":24,"target":1,"value":1515850953.4867999554,"value_reported_as_USD":1578170.0},{"source":28,"target":1,"value":1491358687.5648999214,"value_reported_as_USD":1552670.0},{"source":26,"target":1,"value":1352020936.4344000816,"value_reported_as_USD":1407604.0},{"source":32,"target":1,"value":1306379345.7490999699,"value_reported_as_USD":1360086.0},{"source":11,"target":3,"value":1246890624.0,"value_reported_as_USD":null},{"source":37,"target":0,"value":1105681613.5950000286,"value_reported_as_USD":1151138.0},{"source":29,"target":1,"value":1097957021.8203001022,"value_reported_as_USD":1143095.0},{"source":38,"target":1,"value":1012437105.5406999588,"value_reported_as_USD":1054060.0},{"source":39,"target":1,"value":994017361.880409956,"value_reported_as_USD":1034883.0},{"source":40,"target":1,"value":923473224.0934199095,"value_reported_as_USD":961438.0},{"source":41,"target":1,"value":885425958.664069891,"value_reported_as_USD":921827.0},{"source":31,"target":1,"value":831061511.7639900446,"value_reported_as_USD":865228.0},{"source":15,"target":2,"value":467724960.3112900257,"value_reported_as_USD":486954.0},{"source":13,"target":2,"value":417015613.1557700038,"value_reported_as_USD":434160.0},{"source":12,"target":2,"value":384205066.7981700301,"value_reported_as_USD":400000.0},{"source":12,"target":3,"value":382077763.4381700158,"value_reported_as_USD":397785.0},{"source":27,"target":2,"value":370602579.1941100359,"value_reported_as_USD":385839.0},{"source":30,"target":2,"value":344798718.5923500061,"value_reported_as_USD":358974.0},{"source":14,"target":2,"value":336324094.9094499946,"value_reported_as_USD":350151.0},{"source":13,"target":3,"value":321248295.3839399815,"value_reported_as_USD":334455.0},{"source":22,"target":2,"value":309726731.5611100197,"value_reported_as_USD":322460.0},{"source":14,"target":3,"value":297086045.5203899741,"value_reported_as_USD":309300.0},{"source":37,"target":1,"value":289478886.0918700099,"value_reported_as_USD":301380.0},{"source":16,"target":2,"value":229642694.5012899935,"value_reported_as_USD":239084.0},{"source":17,"target":2,"value":223403323.9985899925,"value_reported_as_USD":232588.0},{"source":21,"target":2,"value":221349533.6371700168,"value_reported_as_USD":230450.0},{"source":16,"target":3,"value":218776962.7192299962,"value_reported_as_USD":227771.0},{"source":18,"target":2,"value":216171554.9396499991,"value_reported_as_USD":225059.0},{"source":41,"target":0,"value":211911692.406919986,"value_reported_as_USD":220624.0},{"source":19,"target":2,"value":210626296.1713699996,"value_reported_as_USD":219285.0},{"source":34,"target":2,"value":201684884.8960700035,"value_reported_as_USD":209976.0},{"source":23,"target":2,"value":195785346.4370200038,"value_reported_as_USD":203834.0},{"source":33,"target":2,"value":193319891.7389699817,"value_reported_as_USD":201268.0},{"source":25,"target":2,"value":184877268.0254399776,"value_reported_as_USD":192478.0},{"source":36,"target":2,"value":173864834.3990000188,"value_reported_as_USD":181013.0},{"source":35,"target":2,"value":169421326.2106699944,"value_reported_as_USD":176386.0},{"source":20,"target":2,"value":163803170.2124600112,"value_reported_as_USD":170537.0},{"source":15,"target":3,"value":163691405.4112899899,"value_reported_as_USD":170421.0},{"source":17,"target":3,"value":156788308.5890899897,"value_reported_as_USD":163234.0},{"source":20,"target":3,"value":152689040.3624600172,"value_reported_as_USD":158966.0},{"source":19,"target":3,"value":149599909.1411699951,"value_reported_as_USD":155750.0},{"source":18,"target":3,"value":147855453.8696500063,"value_reported_as_USD":153934.0},{"source":21,"target":3,"value":145577749.0357800126,"value_reported_as_USD":151563.0},{"source":22,"target":3,"value":144772404.7060500085,"value_reported_as_USD":150724.0},{"source":28,"target":2,"value":143341842.0851199925,"value_reported_as_USD":149235.0},{"source":23,"target":3,"value":142459135.2975499928,"value_reported_as_USD":148316.0},{"source":24,"target":2,"value":136426558.7538100183,"value_reported_as_USD":142035.0},{"source":24,"target":3,"value":136426558.7538100183,"value_reported_as_USD":142035.0},{"source":26,"target":3,"value":121681885.5676699877,"value_reported_as_USD":126684.0},{"source":26,"target":2,"value":121681885.5676699877,"value_reported_as_USD":126684.0},{"source":32,"target":2,"value":117574086.9974100143,"value_reported_as_USD":122408.0},{"source":25,"target":3,"value":117100150.3832699955,"value_reported_as_USD":121914.0},{"source":29,"target":2,"value":111851560.2709700018,"value_reported_as_USD":116450.0},{"source":28,"target":3,"value":100484368.2284800112,"value_reported_as_USD":104615.0},{"source":29,"target":3,"value":99569804.5746180117,"value_reported_as_USD":103663.0},{"source":35,"target":0,"value":98598917.4585369974,"value_reported_as_USD":102652.0},{"source":38,"target":2,"value":97017886.4872280061,"value_reported_as_USD":101006.0},{"source":31,"target":2,"value":94428152.0644719899,"value_reported_as_USD":98310.0},{"source":36,"target":4,"value":89555490.4148460031,"value_reported_as_USD":93237.0},{"source":39,"target":2,"value":89461553.5492359996,"value_reported_as_USD":93139.0},{"source":41,"target":2,"value":85565570.4783339947,"value_reported_as_USD":89083.0},{"source":40,"target":2,"value":83599201.2626910061,"value_reported_as_USD":87036.0},{"source":32,"target":3,"value":80663444.7562279999,"value_reported_as_USD":83980.0},{"source":31,"target":3,"value":74795521.8844719976,"value_reported_as_USD":77870.0},{"source":34,"target":0,"value":33390243.9100080021,"value_reported_as_USD":34763.0},{"source":37,"target":2,"value":32578879.7482680008,"value_reported_as_USD":33918.0},{"source":37,"target":3,"value":26053099.7482680008,"value_reported_as_USD":27124.0},{"source":41,"target":3,"value":5763084.6908780998,"value_reported_as_USD":6000.0},{"source":35,"target":3,"value":3792266.0560975997,"value_reported_as_USD":3948.0},{"source":34,"target":3,"value":896111.30934147,"value_reported_as_USD":933.0}]'

In [299]:
data = { 'links' : json.loads(links_json), 'nodes' : json.loads(nodes_json) }
data_json = json.dumps(data)
data_json = data_json.replace("\\","")
#print(data_json)
#with open('sankey_data.json', 'w') as outfile:
#    json.dump(data_json, outfile)

text_file = open("sankey_data.json", "w")
text_file.write(data_json)
text_file.close()