In [1]:
import openpyxl as opxl
import pandas as pd
import re
import unicodedata

In [2]:
#wb1 = opxl.load_workbook('Annex 18 - Reconciliation sheets Oil & Gas 15-16.xlsx')
# wb1 = opxl.load_workbook('Annex 18 - Reconciliation sheets Gems & Jade 15-16.xlsx')
#print wb1.get_sheet_names()

In [3]:
xl = pd.ExcelFile('data/2017-18/Annex 12- Gems and Jade companies.xlsx')
sheets_list = xl.sheet_names

xl_mil = pd.ExcelFile('data/2017-18/Annex 12- Gems and Jade Military Subsideries.xlsx')
sheets_list_mil = xl_mil.sheet_names

In [4]:
def join_column_titles(text):
    #print(text)
    to_return = ""
    for t in text:
        #print(t)
        if not isinstance(t, float):
            to_return = '.'.join([to_return,(''.join(i for i in t if ord(i)<128))])
    #print("FINAL: " + to_return)
    
    # remove first '.' from the title
    return to_return[1:]

In [5]:
def parse_sheets(df_all,xl,sheets_list):
    for s in sheets_list:
        try:
            #df = xl.parse('C (1)', skiprows=4, index_col=None, na_values=['NA'])
            name_df = xl.parse(s, skiprows=1, parse_cols = 'B:D')
            #display(name_df.head())
            company_name = name_df.columns[3]
            company_number = name_df[name_df['Company name'] == 'Registry number'][company_name]
            print(company_name,company_number)

            df = xl.parse(s, skiprows=5, parse_cols = 'A:L', header=None)
            df.drop(2,inplace=True)
            df.drop(df.columns[[2,6,10]],axis=1,inplace=True)
            df.iloc[0:2] = df.iloc[0:2].fillna(method='ffill', axis=1)

            df.columns = df.iloc[0:2].apply(join_column_titles, axis=0)
            df = df.iloc[2:45]
            #display(df.head())                

            name = map(lambda x: ''.join(e for e in x if e.isalnum()) , company_name.split(' '))
            name = ' '.join(w for w in name)
            name = re.sub( '\s+', ' ', name.strip())
            filename = re.sub( '\s+', '_', name.strip())+'.csv'
        #         df.to_csv(filename)

            #print(filename)

            #display(df[df['N.N'] == 2]['Government Agency.Final'].values[0])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Production Split (In Kind)', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 1]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Customs Duties', \
                              'paid_to' : "MoF - Customs Department", \
                              'value_reported' : df[df['N.N'] == 2]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Commercial Tax on Imports', \
                              'paid_to' : "MoF - Customs Department", \
                              'value_reported' : df[df['N.N'] == 3]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Corporate Income Tax', \
                              'paid_to' : "MoF - Customs Department", \
                              'value_reported' : df[df['N.N'] == 4]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Specific Goods Tax (MCD)', \
                              'paid_to' : "MoF - Customs Department", \
                              'value_reported' : df[df['N.N'] == 5]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Other significant payments MCD', \
                              'paid_to' : "MoF - Customs Department", \
                              'value_reported' : df[df['N.N'] == 6]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Corporate Income Tax', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 7]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Commercial Tax', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 8]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Commercial Tax', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 9]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Withholding Tax', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 10]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Stamp Duties', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 11]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Specific Goods Tax (IRD)', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 12]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Other significant payments IRD', \
                              'paid_to' : "MoF - Internal Revenue Department", \
                              'value_reported' : df[df['N.N'] == 13]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Royalties on Production', \
                              'paid_to' : "Department of Mining (DOM)", \
                              'value_reported' : df[df['N.N'] == 14]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Land rental fees', \
                              'paid_to' : "Ministry of Environmental Conservation and Foresty - Forest Department", \
                              'value_reported' : df[df['N.N'] == 15]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Environmental / Plantation fees', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 16]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Royalties - Production', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 17]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Commercial Tax (EURO Sales)', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 18]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Specific Goods Tax', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 19]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Sale Split', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 20]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Service Fees Euro Sales', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 21]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Incentive fees', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 22]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Permit / License Fee', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 23]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Penalties for cancelled sales', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 24]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Other significant payments MGE', \
                              'paid_to' : "Myanmar Gems Enterprise (MGE)", \
                              'value_reported' : df[df['N.N'] == 25]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Entrance fees', \
                              'paid_to' : "MONREC - Central Committee", \
                              'value_reported' : df[df['N.N'] == 26]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Contribution to the State/Region social development fund', \
                              'paid_to' : "States/Regions", \
                              'value_reported' : df[df['N.N'] == 27]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Mandatory Corporate Social Responsibility', \
                              'paid_to' : "Social Payments", \
                              'value_reported' : df[df['N.N'] == 28]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Voluntary Corporate Social Responsibility', \
                              'paid_to' : "Social Payments", \
                              'value_reported' : df[df['N.N'] == 29]['Government Agency.Final'].values[0] \
                             })])
            df_all = pd.concat([df_all, \
                pd.DataFrame({'company_name' : [name], \
                              'name_of_revenue_stream' : 'Other significant payments SP', \
                              'paid_to' : "Social Payments", \
                              'value_reported' : df[df['N.N'] == 30]['Government Agency.Final'].values[0] \
                             })])


        except:
            print("error parsing names from sheet \"" + s + "\"")
    return df_all

In [6]:
df_all_blank = pd.DataFrame({'company_name' : [],'name_of_revenue_stream' : [],'value_reported' : []})
df_all = parse_sheets(df_all_blank,xl,sheets_list)
df_all = pd.concat([df_all,parse_sheets(df_all_blank,xl_mil,sheets_list_mil)])

Linn Lett Win Yadanar Gems Co Ltd 1    NaN
Name: Linn Lett Win Yadanar Gems Co Ltd, dtype: object
Yar Za Htar Ni 1    NaN
Name: Yar Za Htar Ni, dtype: object
YADANAR TAUNG TEN 1    NaN
Name: YADANAR TAUNG TEN, dtype: object
Wai Aung Gabar 1    NaN
Name: Wai Aung Gabar, dtype: object
Ayeyar Yadanar Gems & Jewellery Co .,Ltd 1    NaN
Name: Ayeyar Yadanar Gems & Jewellery Co .,Ltd, dtype: object
A K N K 1    NaN
Name: A K N K, dtype: object
SILVER ELEPHANT GEMS CO LTD 1    NaN
Name: SILVER ELEPHANT GEMS CO LTD, dtype: object
Phyo Thiha Kyaw 1    NaN
Name: Phyo Thiha Kyaw, dtype: object
Same Wai Hlaing (SWH) 1    NaN
Name: Same Wai Hlaing (SWH), dtype: object
Mya Garden (GEG) 1    NaN
Name: Mya Garden (GEG), dtype: object
Kan Pwint Oo 1    NaN
Name: Kan Pwint Oo, dtype: object
Shwe  Ngar Koe Kaung 1    NaN
Name: Shwe  Ngar Koe Kaung, dtype: object
Shwe Gaung Gaung  Gems Co Ltd 1    NaN
Name: Shwe Gaung Gaung  Gems Co Ltd, dtype: object
Htun Tauk Zabu Gems & Jewellery Co;Ltd. 1    NaN
Name: Htun Tauk Zabu Gems & Jewellery Co;Ltd., dtype: object
Sein Lonm Taung Tan (SLTT-S) 1    NaN
Name: Sein Lonm Taung Tan (SLTT-S), dtype: object
Ayar Jade 1    NaN
Name: Ayar Jade, dtype: object
Shinning Star Light Gems & Jewellery Co.,Ltd   1    NaN
Name: Shinning Star Light Gems & Jewellery Co.,Ltd  , dtype: object
Yadanar Sin Thiri Gems Co 1    NaN
Name: Yadanar Sin Thiri Gems Co, dtype: object
SHWE OAK KHAI MINING CO.,LTD. 1    NaN
Name: SHWE OAK KHAI MINING CO.,LTD., dtype: object
Jade Mountain 1    NaN
Name: Jade Mountain, dtype: object
Thirawmani 1    NaN
Name: Thirawmani, dtype: object
Phoe Thar Htoo Gems Co.,Ltd. 1    NaN
Name: Phoe Thar Htoo Gems Co.,Ltd., dtype: object
Myanma Seinn Lei Aung Gems Co Ltd. 1    NaN
Name: Myanma Seinn Lei Aung Gems Co Ltd., dtype: object
Yadanar Yaung Chi 1    NaN
Name: Yadanar Yaung Chi, dtype: object
Linn Htet Aung Gems Co.,Ltd. 1    NaN
Name: Linn Htet Aung Gems Co.,Ltd., dtype: object
Norbal Three Star (GMMK) 1    NaN
Name: Norbal Three Star (GMMK), dtype: object
WAN BROTHERS 1    NaN
Name: WAN BROTHERS, dtype: object
Mya Yaung Tun 1    NaN
Name: Mya Yaung Tun, dtype: object
Nan Htike Pyae Paing Co 1    NaN
Name: Nan Htike Pyae Paing Co, dtype: object
Khun Paooe 1    NaN
Name: Khun Paooe, dtype: object
Great wall Gems&Jade company 1    NaN
Name: Great wall Gems&Jade company, dtype: object
Great Genesis Gems (GMH) 1    NaN
Name: Great Genesis Gems (GMH), dtype: object
Htat Aye Yar 1    NaN
Name: Htat Aye Yar, dtype: object
Wai Family 1    NaN
Name: Wai Family, dtype: object
Seng Tawng Gems&Jewellery Co., Ltd 1    NaN
Name: Seng Tawng Gems&Jewellery Co., Ltd, dtype: object
Kyauk Same Nan Taw (GKN) 1    NaN
Name: Kyauk Same Nan Taw (GKN), dtype: object
Jade Land 1    NaN
Name: Jade Land, dtype: object
Jade Than Lwin  1    NaN
Name: Jade Than Lwin , dtype: object
1 1 1 1    NaN
Name: 1 1 1, dtype: object
Kaung Myat Thu Ka 1    NaN
Name: Kaung Myat Thu Ka, dtype: object
Seine Pwint Pwint Wai 1    NaN
Name: Seine Pwint Pwint Wai, dtype: object
Khine Myanmar  1    NaN
Name: Khine Myanmar , dtype: object
Unity 1    NaN
Name: Unity, dtype: object
Wai Yan Thar (WYT) 1    NaN
Name: Wai Yan Thar (WYT), dtype: object
Sin Gaung Taung 1    NaN
Name: Sin Gaung Taung, dtype: object
GREEN MOUNTAIN CO;LTD 1    NaN
Name: GREEN MOUNTAIN CO;LTD, dtype: object
Chang Long Gems & Jewellery Co Ltd 1    NaN
Name: Chang Long Gems & Jewellery Co Ltd, dtype: object
Kyaut Myat Min 1    NaN
Name: Kyaut Myat Min, dtype: object
Yadanar Shwe Ye Win 1    NaN
Name: Yadanar Shwe Ye Win, dtype: object
Myit Sone Ayar 1    NaN
Name: Myit Sone Ayar, dtype: object
Yadanar Aung Chan 1    NaN
Name: Yadanar Aung Chan, dtype: object
Myanmar Imperial Jade Co 1    NaN
Name: Myanmar Imperial Jade Co, dtype: object
Khin Zaw Aung & Brother 1    NaN
Name: Khin Zaw Aung & Brother, dtype: object
Myanmar First Gems & Jewellery Co Ltd 1    NaN
Name: Myanmar First Gems & Jewellery Co Ltd, dtype: object
Ever Winner [EW] 1    NaN
Name: Ever Winner [EW], dtype: object
Shwe Hein Htet  Gems Co Ltd 1    NaN
Name: Shwe Hein Htet  Gems Co Ltd, dtype: object
Myo Nwe  Gems 1    NaN
Name: Myo Nwe  Gems, dtype: object
Tun Naing Aung 1    NaN
Name: Tun Naing Aung, dtype: object
Nay Min Kabar Co 1    NaN
Name: Nay Min Kabar Co, dtype: object
Zebu Thiri Gems Co.,ltd 1    NaN
Name: Zebu Thiri Gems Co.,ltd, dtype: object
Yadanar Three Elephants Co 1    NaN
Name: Yadanar Three Elephants Co, dtype: object
Kyaing International (GKI) 1    NaN
Name: Kyaing International (GKI), dtype: object
Nan Oo Yadanar 1    NaN
Name: Nan Oo Yadanar, dtype: object
Su Htu Pan 1    NaN
Name: Su Htu Pan, dtype: object
Long Byit 1    NaN
Name: Long Byit, dtype: object
Super Sein  1    NaN
Name: Super Sein , dtype: object
Win Lei Yadanar 1    NaN
Name: Win Lei Yadanar, dtype: object
Kyal Sin Phyu 1    NaN
Name: Kyal Sin Phyu, dtype: object
Treasure Star Co., Ltd. 1    NaN
Name: Treasure Star Co., Ltd., dtype: object
ARS Gems 1    NaN
Name: ARS Gems, dtype: object
Yadanar Pyi Phyo Aung Gems Co., Ltd 1    NaN
Name: Yadanar Pyi Phyo Aung Gems Co., Ltd, dtype: object
Jade Padatar Gems Co,Ltd 1    NaN
Name: Jade Padatar Gems Co,Ltd, dtype: object
Ruby Dragon Company 1    NaN
Name: Ruby Dragon Company, dtype: object
Northern Jade World 1    NaN
Name: Northern Jade World, dtype: object
Kaung Htet Khaing 1    NaN
Name: Kaung Htet Khaing, dtype: object
Kaung Swan Htet Co 1    NaN
Name: Kaung Swan Htet Co, dtype: object
Shwe Ywat Hlwar 1    NaN
Name: Shwe Ywat Hlwar, dtype: object
Same Lei Yadanar Win Co (SLYW) 1    NaN
Name: Same Lei Yadanar Win Co (SLYW), dtype: object
Hpakan King Gems & Jewellery Co. Ltd 1    NaN
Name: Hpakan King Gems & Jewellery Co. Ltd, dtype: object
Agga Yadanar Jade Gems & Jewellery Co., LTD 1    NaN
Name: Agga Yadanar Jade Gems & Jewellery Co., LTD, dtype: object
Shwe War Myae (mandalay) 1    NaN
Name: Shwe War Myae (mandalay), dtype: object
Delta Land 1    NaN
Name: Delta Land, dtype: object
Seine Lone Aung 1    NaN
Name: Seine Lone Aung, dtype: object
Aung Hein Minn 1    NaN
Name: Aung Hein Minn, dtype: object
Kyauk Seinn Sun Shwin Jade Gems & Jewellery Co Ltd  1    NaN
Name: Kyauk Seinn Sun Shwin Jade Gems & Jewellery Co Ltd , dtype: object
Yadanar Aung Tun Tauk 1    NaN
Name: Yadanar Aung Tun Tauk, dtype: object
U YA GEMS 1    NaN
Name: U YA GEMS, dtype: object
Chaow Brothers Gemstone Enterprise Ltd 1    NaN
Name: Chaow Brothers Gemstone Enterprise Ltd, dtype: object
Myat Yamon 1    NaN
Name: Myat Yamon, dtype: object
Nay La Pwint 1    NaN
Name: Nay La Pwint, dtype: object
Ma Li Kha Gem Stone Co 1    NaN
Name: Ma Li Kha Gem Stone Co, dtype: object
Wan Full 1    NaN
Name: Wan Full, dtype: object
Aung Tu Ka Dana 1    NaN
Name: Aung Tu Ka Dana, dtype: object
Yadanar Moe Myay 1    NaN
Name: Yadanar Moe Myay, dtype: object
Shein Family gems Co., Ltd. 1    NaN
Name: Shein Family gems Co., Ltd., dtype: object
Thein Gabar Aung  1    NaN
Name: Thein Gabar Aung , dtype: object
Jade Treasure 1    NaN
Name: Jade Treasure, dtype: object
Lawka Nandar 1    NaN
Name: Lawka Nandar, dtype: object
Ngwe Si Hein  1    NaN
Name: Ngwe Si Hein , dtype: object
Myat Pan Khaing 1    NaN
Name: Myat Pan Khaing, dtype: object
Lon Hai 1    NaN
Name: Lon Hai, dtype: object
Goldend Light gems 1    NaN
Name: Goldend Light gems, dtype: object
Hein Aung Lin Htet Jade Co. Ltd 1    NaN
Name: Hein Aung Lin Htet Jade Co. Ltd, dtype: object
Phar Kant Sai Bon 1    NaN
Name: Phar Kant Sai Bon, dtype: object
Thigi Myintzu Yadanar 1    NaN
Name: Thigi Myintzu Yadanar, dtype: object
Seinn Nay Chi Gems & jade company 1    NaN
Name: Seinn Nay Chi Gems & jade company, dtype: object
Seine Light 1    NaN
Name: Seine Light, dtype: object
New Lucky Green Gems 1    NaN
Name: New Lucky Green Gems, dtype: object
Mya San Dar (MSD) 1    NaN
Name: Mya San Dar (MSD), dtype: object
Jade Thazin 1    NaN
Name: Jade Thazin, dtype: object
Kaung Su Aung 1    NaN
Name: Kaung Su Aung, dtype: object
Kachin National Development 1    NaN
Name: Kachin National Development, dtype: object
Jade Thapyae Co.,ltd 1    NaN
Name: Jade Thapyae Co.,ltd, dtype: object
Kaung Wai Yan Co 1    NaN
Name: Kaung Wai Yan Co, dtype: object
Green Diamond Gems & Jewellery Co. Ltd 1    NaN
Name: Green Diamond Gems & Jewellery Co. Ltd, dtype: object
Lucky Star Jade Group 1    NaN
Name: Lucky Star Jade Group, dtype: object

Yadanar Si 1    NaN
Name: Yadanar Si, dtype: object
All Right Company 1    NaN
Name: All Right Company, dtype: object
Jewel Crown Company 1    NaN
Name: Jewel Crown Company, dtype: object
Kaung Mon Yadanar 1    NaN
Name: Kaung Mon Yadanar, dtype: object
Green Earth Gems Co., Ltd 1    NaN
Name: Green Earth Gems Co., Ltd, dtype: object
Global Sun Light 1    NaN
Name: Global Sun Light, dtype: object
Aung Hlaing Kyawlwa 1    NaN
Name: Aung Hlaing Kyawlwa, dtype: object
Value Standard 1    NaN
Name: Value Standard, dtype: object
Seine Aung 1    NaN
Name: Seine Aung, dtype: object
Myint Shin Gems Co.,LTd 1    NaN
Name: Myint Shin Gems Co.,LTd, dtype: object
U Kyaw Thet 1    NaN
Name: U Kyaw Thet, dtype: object
Buu Gar 1    NaN
Name: Buu Gar, dtype: object
Jade Pioneer Mining Limited 1    NaN
Name: Jade Pioneer Mining Limited, dtype: object
Kyauk Seinn Minn Gems 1    NaN
Name: Kyauk Seinn Minn Gems, dtype: object
Yi Li Fa [YLF] 1    NaN
Name: Yi Li Fa [YLF], dtype: object
Pyi Yadanar 1    NaN
Name: Pyi Yadanar, dtype: object
MELODIOUS GEMS COMPANY LIMITED 1    NaN
Name: MELODIOUS GEMS COMPANY LIMITED, dtype: object
Myanmar Thura [MTY] 1    NaN
Name: Myanmar Thura [MTY], dtype: object
Kyaut Seinnn Karbarkyaw 1    NaN
Name: Kyaut Seinnn Karbarkyaw, dtype: object
Hole In One 1    NaN
Name: Hole In One, dtype: object
Nay Chi Yadanar Co., Ltd. 1    NaN
Name: Nay Chi Yadanar Co., Ltd., dtype: object
Kyauk Seinn Wingabar Jade Gems & Jewellery Co.,Ltd 1    NaN
Name: Kyauk Seinn Wingabar Jade Gems & Jewellery Co.,Ltd, dtype: object
Ou Ryu Sein Yadanar 1    NaN
Name: Ou Ryu Sein Yadanar, dtype: object
Kaung Htike 1    NaN
Name: Kaung Htike, dtype: object
Sein Minn Yadanar 1    NaN
Name: Sein Minn Yadanar, dtype: object
Treasure Five Star Co., Ltd 1    NaN
Name: Treasure Five Star Co., Ltd, dtype: object
Kyei Linn Gems & Jade Company 1    NaN
Name: Kyei Linn Gems & Jade Company, dtype: object
Silver Sand Stone Gems co., 1    NaN
Name: Silver Sand Stone Gems co.,, dtype: object
Wan Chang 1    NaN
Name: Wan Chang, dtype: object
Khaing Lon Gems Co., Ltd 1    NaN
Name: Khaing Lon Gems Co., Ltd, dtype: object
PON TUNG THARR GEMS COMPANY LIMITED 1    NaN
Name: PON TUNG THARR GEMS COMPANY LIMITED, dtype: object
Palaung National 1    NaN
Name: Palaung National, dtype: object
Treasure Linn Gems Co.,Ltd 1    NaN
Name: Treasure Linn Gems Co.,Ltd, dtype: object
Treasure White Lotus 1    NaN
Name: Treasure White Lotus, dtype: object
Sein Thura San 1    NaN
Name: Sein Thura San, dtype: object
Aung Shwe Kabar 1    NaN
Name: Aung Shwe Kabar, dtype: object
San Taw Win 1    NaN
Name: San Taw Win, dtype: object
Jade Crystal Palace 1    NaN
Name: Jade Crystal Palace, dtype: object
Shwe  Hwa 1    NaN
Name: Shwe  Hwa, dtype: object
Aung Myin Thu Gems & Jewellery Co.,Ltd 1    NaN
Name: Aung Myin Thu Gems & Jewellery Co.,Ltd, dtype: object
Gold Jade 1    NaN
Name: Gold Jade, dtype: object
Thet Hein Gems & Jewellery Co;Ltd.  1    NaN
Name: Thet Hein Gems & Jewellery Co;Ltd. , dtype: object
Myanmar Rich Land Gems (Myanmar Kywal Wa Thaw Myay) 1    NaN
Name: Myanmar Rich Land Gems (Myanmar Kywal Wa Thaw Myay), dtype: object
MEGA STAR JEWEL LIMITED 1    NaN
Name: MEGA STAR JEWEL LIMITED, dtype: object
Kan Sein Pwint  1    NaN
Name: Kan Sein Pwint , dtype: object
Myanmar Winning Gate (GMWG) 1    NaN
Name: Myanmar Winning Gate (GMWG), dtype: object
San Family 1    NaN
Name: San Family, dtype: object
HONG YENG YEE SHIN GEMS & JADE COMPANY LTD 1    NaN
Name: HONG YENG YEE SHIN GEMS & JADE COMPANY LTD, dtype: object
Green Comet gems& Jade company  1    NaN
Name: Green Comet gems& Jade company , dtype: object
Gandawin Kyaut Myat Garden 1    NaN
Name: Gandawin Kyaut Myat Garden, dtype: object
Kaung Taw Myay 1    NaN
Name: Kaung Taw Myay, dtype: object
U Hla Soe Oo 1    NaN
Name: U Hla Soe Oo, dtype: object
80000 1    NaN
Name: 80000, dtype: object
error parsing names from sheet "C (169)"
Than Lwin Kyaw Kyar 1    NaN
Name: Than Lwin Kyaw Kyar, dtype: object
Kyauk Myet Shwe Pyi 1    NaN
Name: Kyauk Myet Shwe Pyi, dtype: object
Moe Brothers 1    NaN
Name: Moe Brothers, dtype: object
Innwa Nay Chi Co 1    NaN
Name: Innwa Nay Chi Co, dtype: object
Jade Master 1    NaN
Name: Jade Master, dtype: object
Taw Win Jade Dragon 1    NaN
Name: Taw Win Jade Dragon, dtype: object
Shwe Tun Win 1    NaN
Name: Shwe Tun Win, dtype: object
 Kan Thar Yar Gems Co.,Ltd. 1    NaN
Name:  Kan Thar Yar Gems Co.,Ltd., dtype: object
Jade Brothers 1    NaN
Name: Jade Brothers, dtype: object
Myat Myittar Mon (G & J) Co.,Ltd 1    NaN
Name: Myat Myittar Mon (G & J) Co.,Ltd, dtype: object
Pang Huke Duwa Co.,Ltd 1    NaN
Name: Pang Huke Duwa Co.,Ltd, dtype: object
Shwe Pyi Thar Gems Trading  and Faceting Co-op.,Ltd 1    NaN
Name: Shwe Pyi Thar Gems Trading  and Faceting Co-op.,Ltd, dtype: object
Khant Shwe Pyi Co.,Ltd 1    NaN
Name: Khant Shwe Pyi Co.,Ltd, dtype: object
Nilar Yoma 1    NaN
Name: Nilar Yoma, dtype: object
Lyan Shan 1    NaN
Name: Lyan Shan, dtype: object
Yadanar Myat Noe Thwe Gem 1    NaN
Name: Yadanar Myat Noe Thwe Gem, dtype: object
Kyi Wai Yan 1    NaN
Name: Kyi Wai Yan, dtype: object
Yadanar San Shwin Gem 1    NaN
Name: Yadanar San Shwin Gem, dtype: object
HERA Co.,ltd 1    NaN
Name: HERA Co.,ltd, dtype: object
MOGOK PRIDE 1    NaN
Name: MOGOK PRIDE, dtype: object
EXCELLENT RUBY & SAPPHIRE 1    NaN
Name: EXCELLENT RUBY & SAPPHIRE, dtype: object
CHATKYIYAY GEMS & JEWELLERY CO.,LTD 1    NaN
Name: CHATKYIYAY GEMS & JEWELLERY CO.,LTD, dtype: object
SHWE NAING TUN 1    NaN
Name: SHWE NAING TUN, dtype: object
R.B.G 1    NaN
Name: R.B.G, dtype: object
KHINE THIT SAR 1    NaN
Name: KHINE THIT SAR, dtype: object
Myanmar Lar Ba Gems Co., Ltd. 1    NaN
Name: Myanmar Lar Ba Gems Co., Ltd., dtype: object
METAL METERO 1    NaN
Name: METAL METERO, dtype: object
RUBY TIGER 1    NaN
Name: RUBY TIGER, dtype: object
THAN HTIKE LU 1    NaN
Name: THAN HTIKE LU, dtype: object
BIRDS GEM 1    NaN
Name: BIRDS GEM, dtype: object
ZABUKYAWAUNG 1    NaN
Name: ZABUKYAWAUNG, dtype: object
KYAN FAMILY 1    NaN
Name: KYAN FAMILY, dtype: object
HTAY PAING 1    NaN
Name: HTAY PAING, dtype: object
RED MOUNTAIN 1    NaN
Name: RED MOUNTAIN, dtype: object
KYAW NAING & BROTHERS 1    NaN
Name: KYAW NAING & BROTHERS, dtype: object
LAW LU 1    NaN
Name: LAW LU, dtype: object
MYANMAR SITHU 1    NaN
Name: MYANMAR SITHU, dtype: object
THEITHI AUNG NGWE MOE 1    NaN
Name: THEITHI AUNG NGWE MOE, dtype: object
Pwint Phoo Nadi 1    NaN
Name: Pwint Phoo Nadi, dtype: object
Myanmar Economic Corporation 1    NaN
Name: Myanmar Economic Corporation, dtype: object
Myanmar Ruby Enterprise Co., Ltd. 1    NaN
Name: Myanmar Ruby Enterprise Co., Ltd., dtype: object
Thein Nhget Star 1    1069/2012-2013
Name: Thein Nhget Star, dtype: object
Duwon Star Co.,Ltd 1    1064/2012-2013
Name: Duwon Star Co.,Ltd, dtype: object
Dana Thedi Star Co.,Ltd 1    1065/2012-2013
Name: Dana Thedi Star Co.,Ltd, dtype: object
Si Tra Star 1    1070/2012-2013
Name: Si Tra Star, dtype: object
Pone Nyet Co.,Ltd 1    1067/2012-2013
Name: Pone Nyet Co.,Ltd, dtype: object
ThitSarPann Co.,Ltd 1    1066/2012-2013
Name: ThitSarPann Co.,Ltd, dtype: object
Jasmine  1    1068/2012-2013
Name: Jasmine , dtype: object

In [7]:
#parse_sheets(df_all_blank,xl_mil,sheets_list_mil)

In [8]:
df_all.to_csv('data/2017-18_gems_jade.csv')
df_all

,company_name,name_of_revenue_stream,value_reported,paid_to
0,Linn Lett Win Yadanar Gems Co Ltd,Production Split (In Kind),0.00,Myanmar Gems Enterprise (MGE)
0,Linn Lett Win Yadanar Gems Co Ltd,Customs Duties,13855086.18,MoF - Customs Department
0,Linn Lett Win Yadanar Gems Co Ltd,Commercial Tax on Imports,0.00,MoF - Customs Department
0,Linn Lett Win Yadanar Gems Co Ltd,Corporate Income Tax,0.00,MoF - Customs Department
0,Linn Lett Win Yadanar Gems Co Ltd,Specific Goods Tax (MCD),0.00,MoF - Customs Department
...,...,...,...,...
0,Jasmine,Entrance fees,0.00,MONREC - Central Committee
0,Jasmine,Contribution to the State/Region social develo...,0.00,States/Regions
0,Jasmine,Mandatory Corporate Social Responsibility,NaN,Social Payments
0,Jasmine,Voluntary Corporate Social Responsibility,NaN,Social Payments
0,Jasmine,Other significant payments SP,NaN,Social Payments